<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <ul>
  <% @categories.each do |category| %>
    <li><a href= "/categories/<%= category.id %>"> <%= category.name %> </a> </li>
  <% end%>
</ul>
</div>
